{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <table class="table table-warning">
        <thead>
            <tr>
                <th scope="col" class="text-dark">#</th>
                <th scope="col" class="text-dark">Name</th>
                <th scope="col" class="text-dark">Size</th>
                <th scope="col" class="text-dark">Download</th>
                <th scope="col" class="text-dark">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <th scope="row" class="text-dark">{{ forloop.counter }}</th>
                <td>{{ obj.Key }}</td>
                <td>{{ obj.Size|filesizeformat }}</td>
                <td><a class="btn btn-warning text-dark"
                        href="{% url 'products:download_obj_bucket' obj.Key %}">download</a></td>
                <td><a class="btn btn-warning text-dark"
                        href="{% url 'products:delete_obj_bucket' obj.Key %}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}