{% extends "base.html"%}
{% load static %}

{%block header%}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../static/img/coffeeVsTea-1030x512.jpg" class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">MELO SHOP</h1>
            <p class="lead">In this online store you can find the best drinks and devices and enjoy the best experiences
                with your friends.</p>
        </div>
    </div>
</div>

{%endblock header%}


{% block content %}
<p class="container" style="font-size: large;">PRODUCTS</p>
<div class="px-2 container">
    <hr class="singleline">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for product in products%}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{product.image.url}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <a href="{{product.get_absolute_url}}" class="btn btn-warning">Detail & Order</a>
                </div>
            </div>
        </div>

        {%endfor%}
    </div>
</div>


{% endblock content %}